.App {
  text-align: center;
}

.dog {
  width: 100px;
  height: 100px;
}

.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.dog img {
  margin-bottom: 20px;
}